{% extends "base_headerless.html" %}
{% load static %}
{% load i18n %}
{% block main %}

    <!-- Start main-content -->
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                    <div class="logo-area text-center mb-3">
                        <a href="#"><img src="{% static 'img/logo.png' %}" class="img-fluid" alt="logo"></a>
                    </div>
                    <div class="auth-wrapper form-ui border pt-4">
                        <div class="section-title title-wide mb-1 no-after-title-wide">
                            <h2 class="font-weight-bold">{% trans 'Login' %}</h2>
                        </div>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="form-row-title">
                                <h3>{% trans "Phone number" %}</h3>
                            </div>
                            <div class="form-row with-icon">
                                <input type="text" class="input-ui pr-2" name="phone"
                                       placeholder="{% trans 'Insert your phone number' %}">

                                <i class="mdi mdi-account-circle-outline"></i>
                            </div>
                            <div class="form-row-title">
                                <h3>{% trans "password" %}</h3>
                            </div>
                            <div class="form-row with-icon">
                                <input type="password" class="input-ui pr-2" name="password"
                                       placeholder="{% trans 'Insert your password' %}">
                                <i class="mdi mdi-lock-open-variant-outline"></i>
                            </div>
                            <div class="form-row mt-2">
                                <div class="custom-control custom-checkbox float-right mt-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">
                                        {% trans 'Remember me' %}
                                    </label>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <button class="btn-primary-cm btn-with-icon mx-auto w-100">
                                    <i class="mdi mdi-login-variant"></i>
                                    {% trans 'Login' %}
                                </button>
                            </div>
                        </form>
                        <div class="form-footer mt-3">
                            <div>
                                <span class="font-weight-bold">{% trans 'Are you new?' %}</span>
                                <a href="#" class="mr-3 mt-2">{% trans 'register' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->
{% endblock %}