{% extends "base_headerless.html" %}
{% load static %}
{% load i18n %}
{% block main %}
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                    <div class="logo-area text-center mb-3">
                        <a href="#"><img src="{% static 'img/logo.png' %}" class="img-fluid" alt="logo"></a>
                    </div>
                    <div class="auth-wrapper form-ui border pt-4">
                        <div class="section-title title-wide mb-1 no-after-title-wide">
                            <h2 class="font-weight-bold">{% trans "Register" %}</h2>
                        </div>
                        <div class="message-light">
                            اگر قبلا با ایمیل ثبت‌نام کرده‌اید، نیاز به ثبت‌نام مجدد با شماره همراه ندارید
                        </div>

                        <form action="" method="post">
                            {% csrf_token %}

                        <!-- non field errors -->
                            <div class="non-field-errors">
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for err in form.non_field_errors %}
                                                <li>{{ err }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>


                            <!-- phone -->
                            <div class="non-field-errors">
                                {% for err in form.phone.errors %}
                                    <div class="alert alert-danger">
                                        <p>{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-row-title">
                                <h3>{% trans "Phone number" %}</h3>
                            </div>
                            <div class="form-row with-icon">
                                {{ form.phone }}
                                <i class="mdi mdi-account-circle-outline"></i>
                            </div>

                            <!-- password -->
                            <div class="form-row-title">
                                <h3>{% trans "password" %}</h3>
                            </div>
                            <div class="non-field-errors">
                                {% for err in form.password.errors %}
                                    <div class="alert alert-danger">
                                        <p>{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-row with-icon">
                                {{ form.password }}
                                <i class="mdi mdi-lock-open-variant-outline"></i>
                            </div>

                            <!-- re_password -->
                            <div class="form-row-title">
                                <h3>{% trans "repeat password" %}</h3>
                            </div>
                            <div class="non-field-errors">
                                {% for err in form.re_password.errors %}
                                    <div class="alert alert-danger">
                                        <p>{{ err }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-row with-icon">
                                {{ form.re_password }}
                                <i class="mdi mdi-lock-open-variant-outline"></i>
                            </div>

                            <div class="form-row mt-2">
                                <div class="custom-control custom-checkbox float-right mt-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label text-justify" for="customCheck3">
                                        <a href="#">حریم خصوصی</a> و <a href="#">شرایط و قوانین</a> استفاده از سرویس
                                        های سایت دیدیکالا را مطالعه نموده و با کلیه موارد آن موافقم.
                                    </label>
                                </div>
                            </div>
                            <div class="form-row mt-3">
                                <button class="btn-primary-cm btn-with-icon mx-auto w-100">
                                    <i class="mdi mdi-account-circle-outline"></i>
                                    ثبت نام در دیدیکالا
                                </button>
                            </div>
                        </form>
                        <div class="form-footer mt-3">
                            <div>
                                <span class="font-weight-bold">قبلا ثبت نام کرده اید؟</span>
                                <a href="{% url 'accounts:login' %}" class="mr-3 mt-2">وارد شوید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}