{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">
    <title>{% block title %} {% endblock %}</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/materialdesignicons.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-slider.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery.horizontalmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/nouislider.min.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors/default.css" id="colorswitch' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>

</head>