{% load i18n %}
<!DOCTYPE html>
<html lang="fa">

{% include "includes/head_links.html" %}

<body>
<div class="wrapper">
    <form action="{% url 'set_language' %}" method="post" class="language-switcher">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                    {{ lang.1 }}
                </option>
            {% endfor %}
        </select>
    </form>
    {% block main %}
    {% endblock %}


    {% include 'includes/base_headerless_footer.html' %}
</div>

{% include "includes/footer_links.html" %}
</body>

</html>